<div class="bg-slate-900 p-4 rounded-md flex gap-4">
  <button
    class="flex-1 flex items-center justify-center p-4 rounded-md hover:bg-slate-300 duration-150 transition-all"
    [class.bg-slate-300]="selectedMark() === 'X'"
    (click)="selectMark('X')"
  >
    <img [src]="iconX" alt="x" width="24" height="24" />
  </button>
  <button
    class="flex-1 flex items-center justify-center p-4 rounded-md hover:bg-slate-300 duration-150 transition-all"
    [class.bg-slate-300]="selectedMark() === 'O'"
    (click)="selectMark('O')"
  >
    <img [src]="iconO" alt="o" width="24" height="24" />
  </button>
</div>
