<div class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="dialog-overlay absolute inset-0 bg-black/50 backdrop-blur-sm"></div>
  <div class="dialog relative w-full bg-slate-800 py-10 shadow-2xl">
    <div class="flex w-full flex-col items-center gap-4 px-6">
      <header class="dialog-header w-full text-center">
        <h3 class="mb-2 text-preset-4 font-bold text-white">You Won!</h3>
      </header>
      <main class="dialog-body w-full text-center">
        <div class="text-preset-1 text-teal-400 flex items-center justify-center gap-2">
          <img [src]="iconO" alt="o" />
          <h2 class="text-preset-1">Takes the round</h2>
        </div>
      </main>
      <footer class="dialog-footer flex gap-4">
        <app-button variant="silver"> Quit </app-button>
        <app-button variant="secondary"> Next Round </app-button>
      </footer>
    </div>
  </div>
</div>
